body {
  background-color: #f3e1e3 !important;
}

.box {
  margin-top: 40px;
  margin-left: 120px !important;
  background-color: white;
  height: 500px;
  width: 80%;
  box-shadow: 5px 5px 5px 5px rgb(184, 184, 184);
  border-radius: 10px;
}

.form-pic {
  background-image: linear-gradient(#ff454d, #ff426b);
  width: 50%;
  height: 100%;
}

.heading-login {
  text-align: center;
  margin-top: 80px;
}
.email {
  padding-left: 10px;
  margin-left: 80px;
  margin-top: 40px;
  width: 320px;
  margin-bottom: 20px;
  height: 36px;
  background-color: gainsboro;
  border: none;
  outline: none;
}

.password {
  padding-left: 10px;
  margin-left: 80px;
  margin-top: 0px;
  width: 320px;
  margin-bottom: 20px;
  height: 36px;
  background-color: gainsboro;
  border: none;
  outline: none;
}

.btn-login {
  color: white;
  background-image: linear-gradient(#ff454d, #ff426b);
  width: 135px;
  border-radius: 22px;
  height: 40px;
  font-weight: 600;
  margin-top: 10px;
  border: none;
}

.btn-register {
  color: white;
  background-image: linear-gradient(#ff454d, #ff426b);
  width: 245px;
  border-radius: 22px;
  height: 40px;
  font-weight: 600;
  margin-top: 10px;
  border: none;
}
